
# ============================================
# 🧠 EduChampion: AI-Powered Sustainable Learning Analytics Dashboard
# Author: Khurram Rashid
# ============================================

# Core Data & ML Libraries




# Visualization

plotly
seaborn==1.6.1
altair

# Explainability (LIME)
lime

# Sustainability Tracking


# Web App Framework
streamlit

# Utility & Cloud Integration
gdown
protobuf




# streamlit==1.50.0
# tensorflow-cpu==2.15.0
# keras==3.10.0
# scikit-learn==1.6.1
# codecarbon==3.0.7
pandas==2.3.3
numpy==2.3.4
matplotlib
joblib

